[user]
	name = Craig Israel
	email = craig_israel@onlifehealth.com
[color]
	ui = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[diff]
	tool = diffmerge
[merge]
	tool = diffmerge
[core]
  autocrlf = false
  safecrlf = false
  pager = less -q
[alias]
  s = status
  co = checkout

