[include]
  path = ~/.gitconfig.local
[color]
	ui = true
  diff = true
[mergetool "diffmerge"]
  cmd = diffmerge --merge --result=\"`pwd`/$MERGED\" \"`pwd`/$LOCAL\" \"`pwd`/$BASE\" \"`pwd`/$REMOTE\"
	trustExitCode = false
[mergetool]
  keepBackup = false
[diff]
	tool = diffmerge
[merge]
	tool = diffmerge
[core]
  autocrlf = false
  safecrlf = false
  pager = less -q
	excludesfile = /Users/craigisrael/.gitignore
[alias]
  s = status
  co = checkout
  cam = commit -am
[push]
	default = simple
